.Informacion {
    position: fixed;
    top: 15%;
    left: 5%;
    height: 70%;
    width: 50vw;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    z-index: 10;
    box-shadow: -20px 0 50px rgba(0, 0, 0, 0.26);
    background-image: linear-gradient(rgba(65, 72, 147, 0.242), rgba(175, 176, 206, 0.133)), 
                        url(Imagenes/Fondo\ de\ Login2.png);

}

.Texto1 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
